<h1>New Dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description, label: "Cocktail Description" %>
<%= f.association :ingredient, collection: @ingredients %>
<%= f.submit "confirm" %>
<% end %>
